body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-color: #cc8968;
}

#library {
    width: 90%;
    height: 70%;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    background-color: #cc8968;
    padding: 0 10px;
}

.shelf {
    width: calc(23% - 30px);
    height: 100%;
    background-color: #a66b41;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 0;
    border-left: 15px solid #5c361a;
    border-right: 15px solid #5c361a;
    border-bottom: 15px solid #5c361a;
    position: relative;
}

.shelf::before,
.shelf::after {
    content: '';
    position: absolute;
    bottom: -15px;
    width: 15px;
    height: 15px;
    background-color: #5c361a;
}

.shelf::before {
    left: -15px;
}

.shelf::after {
    right: -15px;
}

.card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 230px;
    height: 430px;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 10;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    border-radius: 15px;
}

.card p {
    font-size: 1.5em;
}

.card ul {
    list-style-type: disc;
    padding-left: 20px;
    text-align: left;
    margin: 0;
}

.card li {
    font-size: 1.1em;
    margin-bottom: 40px;
    margin-top: 10px;
}

.row {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    height: 20%;
    border-top: 15px solid #5c361a;
    margin: 0;
}

.book {
    width: 20px;
    background-color: #ff6347;
    margin: 0;
}

.roof {
    width: 100%;
    height: 5%;
    background-color: #cc8968;
}

.floor {
    width: 100%;
    height: 25%;
    background-color: #cc8968;
    display: flex;
    justify-content: center;
    align-items: center;
}

.floor-text {
    font-size: 3em;
    color: black;
    text-align: center;
}