<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Casa de la Cultura</title>
    <link rel="stylesheet" href="/cultura/styles.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
<div class="roof"></div>
<div id="library"></div>
<div class="floor">
    <div class="floor-text">CASA DE LA CULTURA</div>
</div>
<script src="/cultura/script.js"></script>
</body>
</html>